<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMCC-Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="navbar">

                <div class="right">
                    <div class="modal-cards">
                        <img class="icon" src="./img/icon.png" alt="icon">
                        <span class="modal-cards--text"><strong>modal.cards</strong></span>
                    </div>
                    <div class="middle">
                        <div class="dropdown">
                            <button class="dropbtn">Solutions
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        <a href="#">Product Tour</a>
                        <a href="#">Showcase</a>
                        <a href="#">Pricing</a>
                    </div>
                </div>
                <div class="left">
                    <a class="signin" href="./index.html">Sign in</a>
                    <a class="purple-border" id="try-for-free" href="./modals.html"><span>Try for free</span></a>
                </div>
                <div class="burger">
                    <a class="icon-one" href="#drawer">
                        <div class="hamburger hamburger-one"></div>
                    </a>
                </div>
            </div>
            <div class="burger">
                <a class="icon-one" href="#drawer">
                    <div class="hamburger hamburger-one"></div>
                </a>
            </div>

        </div>
        <aside id="drawer">
            <header>
                <a id="icon-one" class="icon-one" href="#">
                    <div class="hamburger hamburger-one"></div>
                </a>
            </header>
            <nav>
                <h1><a href="#">Solutions</a></h1>
                <h1><a href="#">Product Tour</a></h1>
                <h1><a href="#">Showcase</a></h1>
                <h1><a href="#">Pricing</a></h1>
            </nav>
        </aside>
        <div class="main">
            <div class="modal" id="modal"></div>
            <div class="modals">
                <div id="modals-container" class="grid-container">
                    <div class="grid-item">1</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">3</div>
                    <div class="grid-item">4</div>
                    <div class="grid-item">5</div>
                    <div class="grid-item">6</div>
                    <div class="grid-item">7</div>
                    <div class="grid-item">8</div>
                    <div class="grid-item">9</div>
                    <div class="grid-item">10</div>
                    <div class="grid-item">11</div>
                    <div class="grid-item">12</div>
                    <div class="grid-item">13</div>
                    <div class="grid-item">14</div>
                    <div class="grid-item">15</div>
                    <div class="grid-item">16</div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>